
.header{
  background-color: #32C787;
  height: 40px;
  width: 100%;
  
}
.header span{
  color: white;
  line-height: 40px;
  padding-left: 30px;
}
.menu{
  float: left;
  width: 20%;
  height: 1000px;
}
.content{
  float: left;
  width: 80%;
  height: 1000px;
  border-left: 1px solid;
}
.account{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #DBDBDB;
  display: inline-block;
}
.options{
  width: 100%;
  height: 200px;
  margin-top: 20px;
  
}
.icon{
  float: left;
  width: 20%;
  height: 50px;
  padding-left: 8%;
  padding-top: 2px;
}
.info{
  float: left;
  width: 80%;
  height: 50px;
  font-size: 10px;
  text-align: left;
  padding-left: 15%;
  padding-top: 10px;
  
}
a{
  border: none;
}
