.panel-main{
    position: absolute;
    width: 340px;
    height: 335px;
    top: 20%;
    left: 39%;
    margin-top: -15px;
    margin-left: -40px;
   
}
.panel-main-head{
    position: absolute;
    width: 308px;
    height: 160px;
    bottom: 220px;
    background: #32c787;
}
.panel-main-body{
    position: relative;
}
.div-form{
    position: absolute;
    top: 120px;
}
.input-stype{
    margin: auto;
    width: 146%;
    border-top:1px #ffffff;
    border-left:1px #ffffff;
    border-right:1px #ffffff;
    outline: 0px;
    text-align: center;
    margin-top: 5px;
    box-shadow: none
}
.button-center{
     margin-top: 25px;
     text-align:center;
     margin-left: 117px;
     border-radius: 50px;
    font-size: 20px;
    background-color: #32c787;
    border: none;
    width: 40px;
    height: 40px;
}
.p-text{
    margin-top: 20px;
    margin-left: 70px;
    color: white;
}
.img-ico{
    font-size: 60px;
    color: white;
    margin-left: 110px;
    width: 20px;
}
.img-ico-btn{
    color: white;
}