<!-- main app container -->
<div>
        <div>
            <div >
               <div class="col-sm-3 col-sm-8 col-sm-3"> <alert></alert></div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>